.about-section{
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;

}
.top-section img{
  max-width: 340px;
  height: 500px;
  z-index: 999;

}
.about-statement{
    width: 50%;
}
.about-statement h1{
    font-size: 2.9rem;
}
.values{
    display: flex;
}
.middle-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 245, 233);
    padding: 50px;
    width: 100%;
    margin-top: -60px;
    z-index: -1;
}
.value-card{
    background-color: rgb(255, 255, 255) ;
    margin: 20px;
    padding: 20px;
}
.team-card img{
    width: 300px;
    height: 300px;
}
.team-card p{
    padding-top: 10px ;
}
.bottom-section{
  padding: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-section h2{
    padding: 30px;
}
.all-team{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.pic1{
    max-width: 400px;
}
.founder-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.founder-container p{
    width: 70%;
    font-size: 1.4rem;
    padding: 20px;
}

#founder2{
    background-color: rgb(249, 245, 233);
}
#founder1{
    background-color: rgb(2, 32, 9);
    color: white;
}

@media (max-width: 1500px) {
    .about-section{
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .top-section{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px;
    
    }
    .top-section img{
      max-width: 340px;
      height: 200px;
      z-index: 999;
      display: none;
    }

    .about-statement{
        width: 100%;
    }
    .about-statement h1{
        font-size: 2.9rem;
    }
    .values{
        display: flex;
        flex-direction: column;
    }
    .middle-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(249, 245, 233);
        padding: 30px;
        width: 100%;
        margin-top: 20px;
    }
    .value-card{
        background-color: rgb(255, 255, 255) ;
        margin: 20px;
        padding: 20px;
    }
    .team-card img{
        width: 300px;
        height: 300px;
    }
    .team-card p{
        padding-top: 10px ;
    }
    .bottom-section{
      padding: 70px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .bottom-section h2{
        padding: 30px;
    }
    .all-team{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
   
.pic1{
    width: 330px;
    padding: 0;
}
.founder-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    
}
.founder-container p{
    width: 70%;
    font-size: 0.9rem;
    padding-top: 9px;
    padding-left: 0;
    padding-right: 0;
}

#founder2{
    background-color: rgb(249, 245, 233);
}
#founder1{
    background-color: rgb(2, 32, 9);
    color: white;
}
#founders{
  padding: 0;
}




}