.events-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;  
  }
 .events-title{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px;
 }
  
  .event-card {
    display: flex;
    margin-bottom: 20px;
  }
  
  .event-date-card {
    background-color: white;
    width: 360px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .event-date-number {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .event-date-month,
  .event-date-year {
    font-size: 0.8rem;
    padding: 2px;
  }

  
  .event-content {
    display: flex;
   
  }
  
  .event-image-container {
    width: 500px;
    height: 270px;
    margin-right: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .event-image {
    width: 100%;
    height: 260px;
  }
  
  .event-description {
    flex: 1;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 20px;
  }
  
  .event-description-date {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }


.react-calendar {
  width: 100%; 
  max-width: 300px; 
  font-family: Arial, sans-serif; 
}

.react-calendar__tile {
  color: rgb(15, 15, 15); 
}

.react-calendar__tile:hover {
  background: #b01515; 
}

.react-calendar__month-view__weekdays__weekday {
  color: black; 
}

.react-calendar__navigation {
  background: #252525; 
  color: black; 
}


.react-calendar__tile--active {
  background: #03360a;
  color: rgb(154, 14, 14); 
}

 
  @media (max-width: 1000px) {
    
    .react-calendar {
      width: 200px;
      font-family: Arial, sans-serif; 
    }

    .event-card {
      flex-direction: column;
    }
  
    .event-date-card {
      width: 100%;
      margin-bottom: 20px;
    }
    .event-description {
        flex: 1;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
       
      }
  
    .event-content {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .event-image-container {
      width: 100%;
      height: 80%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .event-image {
      height: auto;
    }
    .events-container {
        display: flex;
       
       
    }
  }